:root {
  --default-font-family: "DM Sans";
  --font-family: "Poppins", sans-serif;
  --default-text-color: #1b1c20;
  --text-color: #383a47;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 40px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: 20px;
}
.navbar li {
  margin: 0 20px;
}
.navbar a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: var(--default-text-color);
}
.logo {
  height: 36px;
  width: 95px;
  margin-left: 40px;
}

.login-link {
  margin-left: auto;
  margin-right: 20px;
  text-decoration: none;
  font-size: 16px;
  font-family: var(--default-font-family);
  line-height: 30px;
  color: var(--default-text-color);
}
.get-started-button {
  margin-right: 20px;
  width: 150px;
  color: white;
  background-color: #fd6003;
  border-radius: 8px;
  border: none;
  font-size: 13px;
  padding: 15px 0 15px 0;
}
.get-started-button a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.row {
  display: flex;
}
.column {
  flex: 50%;
}
h1 {
  font-family: var(--font-family);
  font-size: 50px;
  line-height: 60px;
  width: 509px;
  margin-top: 80px;
  margin-left: 55px;
  color: var(--default-text-color);
}
.software-text {
  font-family: var(--default-font-family);
  height: 64px;
  width: 440px;
  font-size: 18px;
  line-height: 32px;
  margin-left: 80px;
  color: var(--text-color);
}
.start-chatting-button {
  font-family: var(--default-font-family);
  margin: 10px 330px 0px 80px;
  width: 200px;
  height: 56px;
  color: #ffff;
  background-color: #fd6003;
  border-radius: 8px;
  border: none;
  font-size: 13px;
  padding: 15px 0 15px 0;
}
.start-chatting-button a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.image-container {
  position: relative;
  margin-top: 120px;
  margin-left: 60px;
  width: 200px;
  height: 200px;
}
.small-image {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
  z-index: 1;
}
.smaller-image {
  position: absolute;
  top: 10px;
  left: 70px;
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;
}
.rating {
  display: flex;
  align-items: flex-end;
  margin-left: 250px;
  margin-top: -175px;
}
.customer-rating strong {
  margin-right: 45px;
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  color: #1b1c20;
}
.customer-rating p {
  position: relative;
  color: rgba(56, 58, 71, 1);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  margin-top: 5px;
}
.line-image {
  margin-right: 15px;
  margin-left: 35px;
  margin-bottom: 25px;
}
.icons {
  color: #ffc947;
}
.picture-container {
  position: relative;
  margin-right: 15px;
}
.big-picture {
  height: 965px;
  width: 668px;
  margin-top: 20px;
  margin-left: 10px;
}
.small-picture {
  position: absolute;
  top: 570px;
  left: 3px;
}
.smaller-picture {
  position: absolute;
  top: 410px;
  left: 403px;
}
.feature-word {
  text-align: center;
  color: var(--default-text-color);
  font-size: 36px;
  font-family: var(--default-font-family);
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 100px;
  margin-top: 80px;
}
h5 {
  color: var(--default-text-color);
  font-size: 21px;
  font-family: var(--default-font-family);
  line-height: 3px;
  margin-top: 10px;
  margin-right: 80px;
}
.feature-icon {
  margin-left: 100px;
  margin-bottom: 55px;
}
.feature-list {
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--default-font-family);
  line-height: 24px;
  width: 277px;
}
.video-container {
  background-color: #f8f8fa;
  margin-top: 65px;
}
.woman-headset-video {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 100px 85px 80px 85px;
  width: 541px;
  height: 376px;
}
.video-pictures-container {
  position: relative;
}
.background-image {
  position: absolute;
  top: 392px;
  left: 85px;
  width: 539px;
  height: 85px;
}
.thumbs-up-image {
  position: absolute;
  top: 426px;
  left: 568px;
  color: #ffff;
  size: 16px;
}
.video-image {
  position: absolute;
  top: 426px;
  left: 300px;
  color: #ffff;
}
.camera-rotate-image {
  position: absolute;
  top: 426px;
  left: 198px;
  color: #ffff;
}
.end-image {
  position: absolute;
  top: 410px;
  left: 350px;
}
.video-text-container {
  height: 480px;
}
.first-video-text {
  margin-top: 120px;
  color: var(--default-text-color);
  font-size: 48px;
  font-family: var(--default-font-family);
  line-height: 52px;
  width: 511px;
}
.second-video-text {
  color: var(--text-color);
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 30px;
  width: 440px;
}
.text-container-word {
  margin: 157px 0px 5px 100px;
  height: 112px;
  width: 518px;
  color: var(--default-text-color);
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 56px;
}
.text-container-paragraph {
  margin-left: 110px;
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--default-font-family);
  line-height: 26px;
  width: 492px;
  height: 78px;
}
.orders-container {
  background-color: #fafaf8;
  height: 645px;
}
.grouped-picture {
  margin: 90px 120px;
}
.direct-order-text {
  margin: 120px 10px 10px 15px;
  font-family: var(--default-font-family);
  color: var(--default-text-color);
  font-size: 48px;
  width: 499px;
  line-height: 56px;
}
.direct-order-paragraph {
  color: var(--text-color);
  font-size: 16px;
  margin-top: 22px;
  font-family: var(--font-family);
  line-height: 26px;
  width: 498px;
}
.review {
  display: flex;
}
.product-number {
  margin: 20px 3px 0px;
  font-family: var(--font-family);
  font-size: 42px;
  line-height: 56px;
  color: var(--default-text-color);
}
.product-review {
  margin: 15px 10px;
  width: 87px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 22px;
  font-family: var(--font-family);
}
.feedback-container {
  background-color: #fb8e0b;
  height: 715px;
}
.remarks {
  margin: 0 auto;
  padding-top: 84px;
  text-align: center;
  width: 446px;
  color: #fff;
  font-size: 48px;
  font-family: var(--default-font-family);
  line-height: 58px;
}
.feedback-comment {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 65px 45px 0px 75px;
}
footer {
  background-color: #f8f8fa;
}
footer h2 {
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 25px;
  width: 739px;
  color: var(--default-text-color);
  text-align: center;
  font-size: 48px;
  font-family: var(--default-font-family);
  line-height: 56px;
}
footer button {
  margin: 20px 0px 126px 550px;
  font-family: var(--default-font-family);
  width: 200px;
  height: 56px;
  color: #ffff;
  background-color: #fb8e0b;
  border-radius: 8px;
  border: none;
  font-size: 13px;
  padding: 15px 0 15px 0;
}
footer button a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
footer .navbar-icon {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 62px;
}
footer .navbar-icon li {
  margin: 0px 0px 0px 25px;
}
footer .navbar-icon a {
  color: #fd6003;
}
footer .navbar {
  margin-left: 420px;
  margin-bottom: -30px;
}
.logo-1 {
  height: 36px;
  width: 88px;
  margin-left: 80px;
  margin-bottom: -43px;
}
footer hr {
  color: #d4d4d8;
  opacity: 0.2;
  width: 1200px;
}
.copyright-text {
  color: #797b89;
  font-size: 16px;
  font-family: var(--default-font-family);
  line-height: 26px;
  margin-bottom: -23px;
  margin-left: 58px;
}

.privacy-text-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.privacy-text {
  margin-right: 10px;
  color: #797b89;
  font-size: 16px;
  font-family: var(--default-font-family);
  line-height: 26px;
}
/*Screen resolution for mobile*/
@media (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .navbar li {
    margin: 10px;
  }

  .navbar a {
    font-size: 14px;
    color: var(--default-text-color);
  }

  .login-link,
  .get-started-button {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  .menu-icon {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--default-text-color);
    position: relative;
    cursor: pointer;
    z-index: 2;
  }

  .menu-icon:before,
  .menu-icon:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--default-text-color);
    transition: transform 0.2s ease;
  }

  .menu-icon:before {
    transform: translateY(-8px);
  }

  .menu-icon:after {
    transform: translateY(8px);
  }

  #menu-toggle:checked ~ .navbar {
    display: flex;
  }

  #menu-toggle:checked + .menu-icon:before {
    transform: translateY(0) rotate(-45deg);
  }

  #menu-toggle:checked + .menu-icon:after {
    transform: translateY(0) rotate(45deg);
  }

  #menu-toggle:checked + .menu-icon {
    background-color: transparent;
  }
  .image-container,
  .rating {
    display: none;
  }
  .row {
    flex-direction: column;
  }
  h1 {
    width: 343px;
    line-height: 49px;
    margin-top: 15px;
  }
  .software-text {
    width: 278px;
    margin-left: 45px;
  }
  .start-chatting-button {
    width: 190px;
    margin-top: 35px;
    margin-left: 45px;
  }
  .small-picture,
  .smaller-picture,
  .feature-icon,
  .background-image,
  .thumbs-up-image,
  .video-image,
  .camera-rotate-image,
  .end-image {
    display: none;
  }
  .big-picture {
    width: 310px;
    height: 448px;
  }
  .feature-word {
    width: 343px;
    margin-left: 30px;
  }
  h5,
  .feature-list {
    width: 277px;
    margin-left: 45px;
  }
  .video-container {
    width: 375px;
    height: 679px;
  }
  .woman-headset-video {
    width: 252px;
    height: 200px;
  }
  .first-video-text {
    width: 343px;
    font-size: 28px;
    margin-top: -50px;
  }
  .second-video-text {
    width: 313px;
  }
  .text-container-word {
    width: 333px;
    font-size: 32px;
    margin: 15px 15px;
  }
  .text-container-paragraph {
    width: 334px;
    margin: 15px 15px;
  }
  .group-picture {
    width: 343px;
    margin: 155px 0 10px;
  }
  .grouped-picture {
    width: 343px;
    margin: 15px 15px;
  }
  .orders-container {
    width: 375px;
    height: 748px;
  }
  .direct-order-text {
    width: 343px;
    font-size: 32px;
    margin-top: -15px;
  }
  .direct-order-paragraph {
    width: 343px;
  }
  .review {
    margin-bottom: 15px;
  }
  .product-number {
    font-size: 32px;
    line-height: 40px;
  }
  .product-review {
    width: 65px;
  }
  .remarks {
    width: 275px;
    font-size: 30px;
    line-height: 40px;
  }
  .feedback-comment {
    width: 343px;
    margin-left: 0;
  }
  footer h2 {
    width: 333px;
    font-size: 32px;
    line-height: 40px;
    margin-top: -70px;
  }
  footer button {
    width: 192px;
    margin-left: 90px;
  }
}
